@media screen and (max-width: 768px) {
    .main {
        display: inline-block;
    }
    .logo h1 {
        font-size: 18px;
    }
    .msg-saida {
        text-align: center;
    }
    .mensagem {
        width: 90%;
        height: 400px;
        bottom: -15px;
        border: none;
        resize: none;
        border-radius: 15px;
        padding: inherit;
        background-size: 200px;
    }
    .encriptar {
        width: 200px;
        height: 48px;
        font-size: 14px;
    }
    .desencriptar {
        width: 200px;
        height: 48px;
        font-size: 14px;
    }
    .texto-saida {
        position: relative;
        bottom: 80px;
        width: 100%;
        margin-left: 0px;
    }
    .redes-sociais i {
        margin: 15px 30px;
    }
}

@media screen and (max-width: 525px){
    body {
        text-align: center;
    }
    .main {
        display: block;
    }
    
    .informacao {
        font-size: 9px;
        margin: 10px 0 20px 120px;
    }
    .logo a h1 {
        font-size: 9px;
    }
    .input-texto {
        height: 120px;
        font-size: 16px;
       
    }
    .input-texto::placeholder {
        font-size: 14px;
    }
    .encriptar {
        width: 90%;
        height: 48px;
        margin-bottom: 10px;
    }
    .desencriptar {
        width: 90%;
        height: 48px;
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .msg-saida {
        width: 100%;
        text-align: center;
    }
    .texto-saida h3 {
        font-size: 14px;
        width: 100%;
    }
    .texto-saida p {
        margin-top: 5px;
        font-size: 10px;
        width: 100%;
    }
    #btnCopiar {
        bottom: 50px;
        right: 35px;
        width: 230px;
        height: 48px;
        
        font-size: 16px;
    }
    .footer {
        flex-direction: column;
        margin-top: 0px;
    }
    .footer span {
        display: block;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .redes-sociais {
        margin-left: 0px;
    }
    
}
