@media screen and (max-width: 325px){
    .main {
        display: block;
    }
    .informacao {
        font-size: 9px;
        margin: 10px 0 20px 40px;
    }
    .logo a h1 {
        font-size: 9px;
    }
    .input-texto {
        height: 120px;
        font-size: 16px;
    }
    .input-texto::placeholder {
        font-size: 14px;
    }
    .encriptar {
        width: 230px;
        height: 48px;
        margin-bottom: 10px;
    }
    .desencriptar {
        width: 230px;
        height: 48px;
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .mensagem {
        width: 100%;
        height: 280px;
        background-size: 150px;
        margin-top: 130px;
        /* display: none; */
    }
    .texto-saida {
        bottom: 0px;
        width: 90%;
        text-align: center;
        margin-left: -10px;
    }
    .texto-saida h3 {
        font-size: 14px;
    }
    .texto-saida p {
        margin-top: 5px;
        font-size: 10px;
    }
    #btnCopiar {
        bottom: 50px;
        right: 35px;
        width: 230px;
        height: 48px;
        
        font-size: 16px;
    }
    .footer {
        flex-direction: column;
        margin-top: 0px;
    }
    .footer span {
        display: block;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .redes-sociais {
        margin-left: 0px;
    }
    .redes-sociais i {
        margin: 15px 30px;
    }
}